/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(79, 119, 141, 0.3); /* Ajuste o valor alpha para mais transparência */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário de seleção de peças */
.car-select {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.car-select .autocomplete,
.car-select .quantity-input {
    flex: 1;
}

.car-select .autocomplete {
    margin-right: 10px;
}

.car-select label {
    display: block;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end; /* Alinha os itens ao final do container */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group button {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* Ocupa todo o espaço disponível */
    margin-top: 10px; /* Espaço acima do botão */
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor de fundo */
}

.form-group button:hover {
    background-color: #2980b9; /* Cor de fundo alterada ao passar o mouse */
}

/* Itens selecionados para orçamento */
.cart {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.cart h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item .item-info {
    flex: 1;
    display: flex;
    justify-content: space-between; /* Alinha os botões à direita */
}

/* Estilo para o container dos botões */
.button-container {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    gap: 10px; /* Espaçamento entre os botões */
}

/* Estilo base para os botões */
.button {
    border: none; /* Remove a borda padrão */
    border-radius: 20px; /* Borda arredondada */
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Estilo para o botão "Remover" */
.remove-item-btn {
    background-color: #8a8a8a; /* Cinza Metálico Claro */
    color: white;
}

.remove-item-btn:hover {
    background-color: #4d4d4d; /* Cinza Metálico Escuro no hover */
}

.cart-item .item-quantity {
    font-weight: bold;
    margin-left: 10px;
}

.checkout-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 18px; /* Aumenta o tamanho da fonte para 18px */
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor de fundo */
}

.checkout-btn:hover {
    background-color: #45a049;
}

/* Responsividade */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .car-select {
        flex-direction: column;
    }

    .car-select .autocomplete,
    .car-select .quantity-input {
        width: 100%;
        margin-right: 0;
    }

    .form-group button,
    .checkout-btn {
        padding: 10px;
    }
}


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    max-height: 150px;
    overflow-y: auto;
    z-index: 99;
    background-color: white;
    border-radius: 5px;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: #3498db; /* Azul suave */
    color: #2b07a1; /* Texto em branco */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra do texto */
}

.autocomplete-items input[type="hidden"] {
    display: none;
}


/* Estilos para os campos de entrada e seleção */
input[type="text"],
input[type="number"],
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box; /* Garante que o padding não altere a largura total */
    background-color: #ebeff0; /* Cor de fundo dos campos */
    color: #333; /* Cor do texto nos campos */
}

/* Estilos para o texto das etiquetas */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555; /* Cor do texto das etiquetas */
}